Description=Tire Image Processing Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/aciai/workspace/TireImageProcessing
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose -f /home/aciai/workspace/TireImageProcessing/docker-compose.yml up --build --remove-orphans
ExecStop=/usr/libexec/docker/cli-plugins/docker-compose -f /home/aciai/workspace/TireImageProcessing/docker-compose.yml down -v
Restart=always
RestartSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/name_script.pid

[Install]
WantedBy=multi-user.target